.landingpage{
	width: 100%;
	margin:auto;
}
.header-color{
	background: #00c3ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.landing-grid{
	background: #00c3ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffff1c, #00c3ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffff1c, #00c3ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
position: fixed;
left: 0;
top:0;
height: 100%;
width: 100%;
text-align: center;
}
.avatar-img{
	/*padding-left: 45rem;*/
	height:250px;
	padding-top: 7em;
}
.banner-text{
	background-color: black;
	opacity: .8;
	margin:auto;
	border-radius: 10px;
	width: 75%;
}
.banner-text h1{
	font-size: 66px;
	font-weight: bold;
	color: white;
	text-align: center;
}
.banner-text hr{
	border-top: 5px dotted white;
	width:50%;
	margin: auto;
}
.banner-text p{
	text-align: center;
	color:white;
	font-size: 20px;
	padding: 1em;
}
.social-links{
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin:auto;
}
.social-links i{
	color: white;
	font-size:5em;
	padding: 5px;
}
.projects-grid{
	display: flex;
	/*padding-right:10px;*/
}

/*Contact page css*/

.contact-body{
	margin: auto;
	width: 100%;
	background: grey;
	justify-content: center;
	position: flex;
	padding-top: 2em;
	height: 100%;

}
.contact-grid{
	width: 80%;
	height: 650px;
	background: white;
	text-align: center;
	justify-content: center;
	color:black;
	border: 2px solid yellow;
	margin-bottom: 20px;
}
.contact-grid h2{
	font-family: 'Anton', sans-serif;
}
.contact-grid p{
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}
.contact-grid hr{
	width:50%;
	border-top: 5px dotted black; 	
	margin: auto;
}
.contact-list i{
	font-size: 66px;
	padding-right: 9rem;
}

/*resume css*/

.resume-body{
	background: 
}
.resume-grid hr{
	border-top: 2px solid yellow;
	width: 90%;
	margin:auto;
}
.resume-grid p{
	font-family: 'Anton', sans-serif;
	justify-content: center;
	padding-top: 1em;
}
.resume-right-col{
	background: #27221F;
	color:white;
	padding:2em;
}